# Playwright E2E settings
PORTAL_BASE_URL=https://e2e-testing--snsvm-test-portal.netlify.app
E2E_TEST_SECRET="45374ae5856e86b2a812bf93337d4989f249723598ba41c3f7abdad4d40242cd"
STUDENT_CLASS=IX
STUDENT_ROLL=5
STUDENT_DOB=2013-06-01
